<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <img src="{{ url_for('static', filename='company_logo.png') }}" alt="Company Logo">
            <div class="container">
                <div class="logo">Study Venue</div>
                <ul class="nav-links">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('owner_login') }}">Add Your Library</a></li>
                    <li><a href="{{ url_for('about') }}">About Us</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="hero">
        <div class="container" >
            <h1>Welcome To Study Venue</h1>
            <!-- <p>Find the Perfect Co-Study Center or Library Near You</p> -->
            <form method="post" action="{{ url_for('search_results') }}">
                <select name="selected_city" class="search-bar">
                    <option value="">Search By City</option>
                    {% for city in unique_cities|sort %}
                        <option value="{{ city[0] }}">{{ city[0] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Search" class="btn" formtarget="_blank" >
            </form>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <h2>Our Features</h2>
            <div class="features-row">
                <div class="feature">
                    <img src="{{ url_for('static', filename='wide_network.jpg') }}" alt="Feature 1">
                    <h3>Wide Network</h3>
                    <p>Access a wide network of co-study centers and libraries to choose from.</p>
                </div>
                <div class="feature">
                    <img src="{{ url_for('static', filename='book_online.jpg') }}" alt="Feature 2">
                    <h3>Select And Book</h3>
                    <p>Select and book your choice of seat from the comfort of your home.</p>
                </div>
                <div class="feature">
                    <img src="{{ url_for('static', filename='reviews.jpg') }}" alt="Feature 3">
                    <h3>User Reviews</h3>
                    <p>Read reviews from other users to make informed decisions.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="contact">
        <div class="container">
            <h2>Contact Us</h2>
            <p>Have a question or want to know more? Get in touch!</p>
            <p> Mail to studyvenue1@gmail.com</p>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2023 Study Venue. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
